<div class="row">
  <div class="col-xs-6">
    <h1>Customers</h1>
  </div>
  <div class="col-xs-6">
    <button class="btn btn-success btn-lg">Add Customer</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Date of Birth</th>
          <th>Home Address</th>
          <th>Phone Number</th>
          <th>E-mail</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lucas</td>
          <td>Carlos</td>
          <td>Aug, 7 1995</td>
          <td>805 Fall Ave Odessa TX</td>
          <td>4325305258</td>
          <td>carloslucas07@yahoo.com</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
